nav li{
    display: table-cell;
}

input {
    margin: 1%;
}

.recipe-image {
    max-width: 600px;
}

.recipe-ingredients {
    display: table-cell;
}

.ingredient-check-box {
    vertical-align: middle;
}

#steps-box {
    background-color: grey;
    padding: 1%;
}

#ingredients-box {
    background-color: green;
    padding: 1%;
    text-align: left;
}

